@import 'variables.scss';
@import 'mixins.scss';

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    color: $white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

body {
    @include flex(column, center, center);
    background-color: $cinza-claro;
}

header {
    width: 100%;
    background-color: $cinza;
    border-bottom: 2px solid $white;
    box-shadow: 1px 9px 12px 8px rgba(0,0,0,0.75);

    @include flex(row, center, space-around);

    img {
        height: 135px;
    }

    @media (max-width: 640px) {
        img {
            width: 100%;
        }

        @include flex(column);
    }

    .field {
        @include flex();

        input { 
            color: $preto;
        }

        @media (max-width: 640px) {
            @include flex(row, center, center);
        }
        
        .btn-search {
            cursor: pointer;
            margin-left: 10px;

            .svg-image {
                fill: $white;
            }
            
            img {
                height: 36px;

                @media (max-width: 640px) {
                    width: 36px;
                }
            }
        }
    }
}

footer {
    width: 100%;
    background-color: $cinza;
    border-top: 2px solid $white;

    @include flex(column, center, center);

    margin-top: 50px;

    a {
        text-decoration: none;
    }

    img {
        height: 385px;

        @media (max-width: 640px) {
            height: 295px;
        }
    }
}

.container { 
    max-width: 1600px;
    width: 100%;


    @include flex(column, center, center);
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 20px; 
        padding: 50px;

        @media (max-width: 640px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(20, 1fr);
        }

        .character-card {
            background-color: $cinza;
            border-radius: 5px;
            padding: 20px;

            @include flex(column, center, center);
            
            img {
                width: 100%;
                border-radius: 5px;
            }

            .infos {
                width: 100%;

                @include flex(column,flex-start, center);
            }
        }
    }
    
    
    .page-controllers {
        margin-top: 40px;
        width: 100%;
        
        @include flex(row, center, space-between);
        
        @media (max-width: 640px) {
            padding: 15px;
        }

        button {
            cursor: pointer;
            border: none;
            width: 200px;
            border-radius: 5px;
            background-color:  $cinza;
            border: solid $white 1px;
            
            @media (max-width: 640px) {
                width: 135px;
            }
        }

    }

}