@import 'variables.scss';
@import 'mixins.scss';

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    color: $white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

body {
    @include flex(column, center, center);
    background-color: $cinza-claro;
}

header {
    width: 100%;
    background-color: $blue;
    border-bottom: 2px solid $white;
    
    @include flex(row, center, center);

    img {
        height: 135px;
    }

    @media (max-width: 640px) {
        img {
            width: 100%;
        }
    }
}

footer {
    width: 100%;
    height: 200px;
    background-color: $blue;
    border-top: 2px solid $white;

    margin-top: 50px;
}

.container { 
    max-width: 1600px;
    width: 100%;


    @include flex(column, center, center);
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 20px; 
        padding: 50px;

        @media (max-width: 640px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(20, 1fr);
        }

        .character-card {
            background-color: $cinza;
            border-radius: 5px;
            padding: 20px;

            @include flex(column, center, center);
            
            img {
                width: 100%;
                border-radius: 5px;
            }

            .infos {
                width: 100%;

                @include flex(column,flex-start, center);
            }
        }
    }
    
    
    .page-controllers {
        margin-top: 40px;
        width: 100%;
        
        @include flex(row, center, space-between);
        
        @media (max-width: 640px) {
            padding: 15px;
        }

        button {
            border: none;
            width: 200px;
            border-radius: 5px;
            background-color:  $blue;
            border: solid $white 1px;
            
            @media (max-width: 640px) {
                width: 135px;
            }
        }

    }

}